footer
    nav
        ul
            li
                a(href="#") Privacy 
            li
                a(href="#") About Us 
            li
                a(href="#") Contact Us 
    p copyright @ #{new Date().getFullYear()}  