footer(class="w-screen sticky flex flex-col items-center justify-between gap-5 bottom-0 bg-gradient-to-r from-indigo-500 text-white")
    nav(class="px-5 flex items-center gap-20 justify-between")
        div
            a(href="#") Privacy 
        div
            a(href="#") About Us 
        div
            a(href="#") Contact Us 
    p copyright @ #{new Date().getFullYear()}  