html
    head
        title Zensark Ecom
        include head.pug
    body
        include header.pug
        div(class="p-5")
            if error
                p(class="text-2xl text-red-500")= error
            else 
                div(class="flex flex-wrap justify-evenly gap-10 items-center")
                    each product in products 
                        div(class="w-2/12 p-2 shadow-lg cursor-pointer rounded-lg flex gap-5 items-center justify-between flex-col")
                            img(src= product.image alt= product.title class="w-7/12")
                            p(class="text-center")= product.title
                            p £#{product.price}
                            button(class="rounded-full bg-blue-500 text-white px-5 py-2 hover:bg-blue-800") Bag It
        include footer.pug